/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.imp
{
   position: absolute;
   top: 300px;
   left: 0px;
}

.mainC{
   
    border: #000 groove thin;
    height: 625px;
    width: 200px;
    margin: 0em;
    margin-top:0px;
}
.sidebar-nav{
    
    width: 200px;
  
position: absolute;
float: left;
border-top:none;
   margin-top:0px;
 
border-left: none;

 border: black hidden thin;
  border-right: black hidden thin;
  
}
.cont{
    height: 40px;
    width: 200px;
    background-color: white; 
   border-bottom: #000 double thin;
   border: #000 double thin;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    padding-top: 5px;
    padding-right: 50px;
}

.expandcollapse-item {
  overflow: hidden;
  border-top:1px solid black;
   
}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  padding: 10px 50px;
  position: relative;
  z-index: 100000000;
  color: red; 
  background-color: #31708f;
  
}

.expandcollapse-item:first-of-type {
  border-top:10px;
}


.expandcollapse-heading-collapsed p{
  font-size: 16px;
  font-weight: normal;
  margin:0px;
}



.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  padding: 15px 20px;
  position: relative;
  color: black;
  background-color: black;
 
  border: 1px solid black;
}

.expandcollapse-heading-expanded p{
  font-size: 16px;
  font-weight: bold;
  margin:0px;
}



.expand-collapse-content {
  padding: 0px;
   margin-top:0px;
   
}


/*
animation:*/

.slideDown.ng-hide {
  height:0;
  color: black;
  -webkit-transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  height:141px;
   color: black;
  -webkit-transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
  text-align: center;
 
      
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
    color: black;
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}

    .addcarDesignPhase{
       padding-left: 10px;
       /* padding-top: 200px; */
      padding-right: 10px;
       margin-left: 150px;
       
        height:auto; 
        
       width: 300px;
        
        
       border: #000 groove thick ;
   
       margin-top: 50px;
      
       padding-bottom: 50px;
    }
    #next 
    {
        
        margin-left: 10px;
        
    }
    .container .conte{
        position:relative;
    }
    .addCarConstructPhase
    {  
         padding-right: 10px;
       margin-left: 150px;
       
        height:auto; 
        
       width: 300px;
        
        
       border: #000 groove thick ;
    padding-left: 10px;
       margin-top: 50px;
      
       padding-bottom: 50px;
    }
    .addCarMainPhase{
         
       padding-right: 10px;
       margin-left: 150px;
       
        height:auto; 
        
       width: 300px;
        
        
       border: #000 groove thick ;
   
       margin-top: 50px;
        padding-left: 10px;
       padding-bottom: 50px;
    }
    .addCarFinalPhase{
       
          padding-right: 10px;
       margin-left: 150px;
       padding-left: 20px;
        height:auto; 
        
       width: 300px;
        
        
       border: #000 groove thick ;
   
       margin-top: 50px;
      
       padding-bottom: 50px;
    }
    .dis{
        display:none;
    }
    #head{
        text-align: left;
        font-size: 2em;
       
    }
    .sub{
     
    
    }
.contentBox
		{
			
			width:520px;
			height: 520px;
				
			
		}

		.flipwrapper
		{	
			perspective:1000;
			float: left;
			margin-right: 2px;
			margin-left: 3px;
			margin-top: 3px;
			margin-bottom: 3px;

		}
		.flipwrapperCalender
		{
			perspective:1000;
			
			
		}
		.flipwrapperMed
		{
			perspective:1000;
			float: left;
			
			margin-right: 3px;
			margin-left: 4px;
			margin-top: 3px;
			margin-bottom: 3px;

		}
		.flipwrapperMedPic
		{
			perspective:1000;
			float: left;
			
			margin-right: 3px;
			margin-left: 4px;
			margin-top: 3px;
			margin-bottom: 3px;

		}
		.flipwrapper .flipper{
			transition: 0.75s;
			-webkit-transition: 0.75s;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			position: relative;
			top: 115px;
			left: 285px;

		}
		.flipwrapperCalender .flipperCalender{
			transition: 0.75s;
			-webkit-transition: 0.75s;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			position: relative;
			top: 115px;
			left: 285px;

		}
		.flipwrapperMed .flipperMed{
			transition: 0.75s;
			-webkit-transition: 0.75s;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			position: relative;
			top: 115px;
			left: 285px;

		}
		.flipwrapperMedPic .flipperMedPic{
			transition: 0.75s;
			-webkit-transition: 0.75s;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			position: relative;
			top: 115px;
			left: 285px;

		}
		.flipwrapper .flipper:hover
		{
			-webkit-transform :rotateY(180deg);
		}
		.flipwrapperCalender .flipperCalender:hover
		{
			-webkit-transform :rotateY(180deg);
		}
		.flipwrapperMed .flipperMed:hover
		{
			-webkit-transform :rotateY(180deg);
		}
		.flipwrapperMedPic .flipperMedPic:hover
		{
			-webkit-transform :rotateY(180deg);
		}

		.flipwrapper ,.flipwrapper .frontface, .flipwrapper .backface
		{	
			height: 204px;
			width: 204px;
		}
		.flipwrapperCalender ,.flipwrapperCalender .frontfaceCalender, .flipwrapperCalender .backfaceCalender
		{	
			height: 50px;
			width: 115px;
		}
		.flipwrapperMed	 ,.flipwrapperMed .frontfaceMed, .flipwrapperMed .backfaceMed
		{	
			height: 50px;
			width: 50px;
			

		}
		.flipwrapperMedPic	 ,.flipwrapperMedPic .frontfaceMedPic, .flipwrapperMedPic .backfaceMedPic
		{	
			height: 50px;
			width: 50px;
			

		}
		.frontfaceMed
		{
			font-size: 0.8em;
			text-indent: inherit;
			font-weight: 200;
			color: white;
			


		}
		.frontfaceMedPic
		{
			font-size: 0.7em;
			text-indent: inherit;
			font-weight: 200;
			color: white;


		}
		.frontfaceCalender
		{
			font-size: 0.7em;
			text-indent: inherit;
			font-weight: 200;
			color: white;
				

		}
		.backfaceCalender
		{
			font-size: 0.7em;
			text-indent: inherit;
			font-weight: 200;
			color: white;

				

		}
		.flipwrapper .frontface, .flipwrapper .backface
		{
			background-color: blue;
			position: absolute;
			backface-visibility:hidden;
					-webkit-backface-visibility:hidden;
		}
		.flipwrapperCalender .frontfaceCalender, .flipwrapperCalender .backfaceCalender
		{
			background-color: green;
			position: absolute;
			backface-visibility:hidden;
					-webkit-backface-visibility:hidden;
		}
		.flipwrapperMed .frontfaceMed, .flipwrapperMed .backfaceMed
		{
			background-color: red;
			position: absolute;
			backface-visibility:hidden;
					-webkit-backface-visibility:hidden;
		}
			.flipwrapperMedPic .frontfaceMedPic, .flipwrapperMedPic .backfaceMedPic
		{
			
			position: absolute;
			backface-visibility:hidden;
					-webkit-backface-visibility:hidden;
		}
		.flipwrapper .frontface
		{
			z-index: 2;
		}
		.flipwrapperCalender .frontfaceCalender
		{
			z-index: 2;
		}
		.flipwrapperMed .frontfaceMed
		{
			z-index: 2;
		}
		.flipwrapperMedPic .frontfaceMedPic
		{
			z-index: 2;
		}
		.flipwrapper .backface
		{
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg);
		}
		.flipwrapperCalender .backfaceCalender
		{
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg);
		}
		.flipwrapperMed .backfaceMed
		{
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg);
		}
		.flipwrapperMedPic .backfaceMedPic
		{
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg);
		}
		body
		{	
			//background: url('lumia.jpg') no-repeat;
		}
  .table1{
        border: #000 double thick;
        margin-top: 10px;
        width: 800px;
        margin-left: 20px;
    }
    
    .boxIn{
        border: #000 inset thick;
        padding-top:10px;
        padding-left: 30px;
        margin-left: 300px;
        font-family: cursive;
        width: 600px;
        height: auto;
    }
    .nav1{
          position: absolute;
   top: 200px;
   left: 0px;
   height: 30px;
   width: 150px;
   background-color: red;
        
    }	
    .navigation
    {   margin-top: 50px;
        list-style-type: none;
      //  border: #000 hidden medium;
        padding-right: 10px;
        font-family: cursive;
        font-size: 1.3em;
    }
#container2{
        height: 150px;
        width: auto;
        background: url(../img/1.jpg);
    }
    .menu1
    {
        height: 150px;
        width: 150px;
        
        float: left;
        background: rgba(139,62,181,1);
        transition: all 0.6s ease-in-out 0s;
    }
    .p1{
        font-family: cursive;
        font-size: 25px;
          
        color: rgba(255,255,255,0.7);
        position: relative;
        top: 10px;
     
        left: 30px;
        float: left;
        transition: all 0.6s ease-in-out 0s;
    }
    .p2{
        font-family: fantasy;
        font-size: 16px;
          float: left;
           color: rgba(255,255,255,0.5);
           position: relative;
           top:50px;
       
        transition: all 0.6s ease-in-out 0s;
    }
     .menu2
    {
        height: 150px;
        width: 150px;
        float: left;
        background: rgba(0,0,255,1);
         transition: all 0.6s ease-in-out 0s;
    }
     .menu3
    {
        height: 150px;
        width: 150px;
        float: left;
        background: rgba(0,128,0,1);
         transition: all 0.6s ease-in-out 0s;
    }
     .menu4
    {
        height: 150px;
        width: 150px;
        float: left;
        background: rgba(0,0,0,0.5 );
         transition: all 0.6s ease-in-out 0s;
    }
    .menu1:hover{
        width: 700px;
    }
    .menu1:hover .p1,.menu2:hover .p1,.menu3:hover .p1,.menu4:hover .p1{
        font-size: 30px;
    }
     .menu2:hover{
        width: 700px;
    }
     .menu3:hover{
        width: 700px;
    }
     .menu4:hover{
        width: 700px;
    }
  //breadcrumbs
  
  .breadcrumb1 {
  
    top:100px;
    display: inline-block;
    box-shadow: 0 0 15px 1px black;  
    border-radius: 20px;
    overflow: hidden;
}
.breadcrumb1 a {
    text-decoration: none;
    padding: 0px 10px 0px 30px ;
    display: block;
    float:left;
    position: relative;
    line-height: 36px;
    background: green;
    color:white;
 
}
.breadcrumb1 a.active,.breadcrumb1 a:hover{
    background: red;
}
.breadcrumb1 a.active:after,.breadcrumb1 a:hover{
    background: red;
}
.breadcrumb1 a:after
{   content: '';
    position: absolute;
    height: 36px;
    width: 36px;
    right: -18px;
    background: green;
    box-shadow: 2px -2px 1px 1px rgba(0,0,0,0.5),
        3px -2px 1px 1px rgba(255,255,255,0.6); 
    -webkit-transform: scale(0.707) rotate(45deg);
    transform: translate(0.707) rotate(45deg);
    border-radius: 0 0px 0px 30px;
    z-index: 1;
  
}
.breadcrumb1 a:last-child:after{
    content:none;
}