<div class="container">
<div id="head" class="navbar navbar-inverse1">&nbsp&nbsp&nbsp&nbspCar Details</div>
<div  class="navbar ">
    <div class="breadcrumb">
        <a href="#">DashBoard</a>&nbsp<div class="glyphicon glyphicon-arrow-right"></div>
        <a href="#/view1">View Car</a>&nbsp<div class="glyphicon glyphicon-arrow-right"></div>
       Details
    </div>
</div>
</div>
<div class="container">
   
   
      <div>  
         <div class="boxIn">
            <br>
          &nbsp; <label>Car Model No :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" readonly="true" value="{{cars.id}}"><br><br>
          &nbsp; <label>Car Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" readonly="true" value="{{cars.name}}"><br><br>
          &nbsp; <label>Type :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type="text" readonly="true" value="{{cars.type}}"><br><br>
          &nbsp; <label>Color :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type="color" disabled="true" value="{{cars.color}}"><br><br>
          &nbsp; <label>Project Manager :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type="text" readonly="true" value="{{cars.Mname}}"><br><br>
          &nbsp; <label>Project Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type="text" readonly="true" value="{{cars.Pname}}"><br><br>
          &nbsp; <label>No of Seats :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type="text" readonly="true" value="{{cars.seats}}"><br><br>
          &nbsp; <label>Fuel Type :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label><input type="text" readonly="true" value="{{cars.ftype}}"><br><br>
          
          <br><center><button ng-click="update(cars.id)"><i class="glyphicon glyphicon-adjust">&nbsp;Update</i></button>
         &nbsp;&nbsp;&nbsp;    <button> <a href="#/Details" ><i class="glyphicon glyphicon-edit">&nbsp;Cancel</i></a></button></center>

         </div>
          
            
        
          
        </div>  
         
</div> 


   


    
    