

<div id="head" class="navbar navbar-inverse1">New Car Design</div>
<div  class="navbar ">
    <div class="breadcrumb">
        <a href="#">DashBoard</a>&nbsp<div class="glyphicon glyphicon-arrow-right"></div>
        <a href="#/view1">Add Car</a>
    </div>
</div>
<div class="container1">
       
    &nbsp; <a href="#/temp"><input type="button" class="btn  btn-warning" value="+ New Car"></a>
     
      
    </div>

         
          
          
                 

   
    
   
    
    
      
    

